[MESSAGES CONTROL]
# Disable messages
disable=import-outside-toplevel,missing-module-docstring,missing-class-docstring,too-few-public-methods,too-many-ancestors,no-member

[MASTER]
ignore=venv,*.pyc,*.pyo,*.pyd,*.so,*.dll,*.exe,*.class,*.jar,*.zip,*.egg,*.whl,*.tar.gz,*.tgz,*.bz2,*.xz,*.lzma,*.7z,*.rar,*.msi,*.deb,*.rpm,*.dmg,*.pkg,*.apk,*.ipa,*.msix,*.appx

[FORMAT]
# Ignore migration file naming
ignore-patterns=.*_initial.py

[BASIC]
# Ignore migration files
ignore=.*_initial.py

[DESIGN]
# Allow more than 7 ancestors for Django views
max-parents=11
